@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
    main {
        display: block;
    }

    form {
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        display: block;
    }
    
    form {
            width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        display: block;
    }
    
    form {
            width: 80%;
    }
}
