@charset "UTF-8";

@media screen and (max-width: 768px) {
    main {
        display: block;
    }

    form {
        width: 95%;
    }

    form > p {
        position: absolute;
        left: 50%;
        font-size: 11.6px;
        transform: translate(-50%);
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        display: block;
    }
    
    form {
            width: 95%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        display: block;
    }
    
    form {
            width: 95%;
    }
}
